<div id="backgroundPopup">
</div>
<div id="quangcaochan">
    <a id='tatquangcaochan' title="Tắt quảng cáo" style="">
        <img alt="tat" title="Tắt quảng cáo" src="/Style/img/deletes.png" /></a>
    <div class="popup">
        <p class="txtemailn">
            Nhập email nhận tin tức với DR Pepper!
        </p>
        <input type="text" class="txtEmail" placeholder="Nhập email của bạn" width="180" height="27" font-italic="True" bordercolor="#CCCCCC">      
        <p class="resMess"></p>
        <a class="btnEmail" style="cursor: pointer;">
            <img src="/Style/img/dangky.png" />
        </a>
    </div>
</div>
