<div class="tq-footer">
    <div class="container">
        <div class="tq-fmain clearfix">
            <p class="tq-flg"><a href="/" target="_blank" title=""><img src="~/Content/tq99/images/i-footer.png" alt=""></a></p>
            <div class="tq-fitxt">
                <p>Bản quyền trò chơi thuộc công ty Tứ Quý 9. </p>
                <p>Công ty Cổ phần Tứ Quý 9 phân phối độc quyền tại Việt Nam</p>
            </div>
            @*<p class="tq-fcall">
                    <a href="" target="_blank" title=""><span><img src="~/Content/tq99/images/i-fcall.png" alt=""></span><i>088.823.6131</i></a>
                </p>*@
        </div>
    </div>
</div>