/* Large desktop */
@media (min-width: 1200px) {
    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .n-container-right {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .header-search-lang {
        width: 340px;
        position: relative;
        top: 0;
        right: 0;
        float: right;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .n-container-right {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .header-search-lang {
        width: 340px;
        position: relative;
        top: 0;
        right: 0;
        float: right;
    }
}